html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F0F2F2;
}

main {
    padding-bottom: 10px;
}


header {
    background: rgb(128, 103, 170);
    background: linear-gradient(0deg, rgba(128, 103, 170, 1) 0%, rgba(91, 60, 147, 1) 25%, rgba(128, 103, 170, 1) 100%);
    ;
    height: 96px;
}

section {
    padding: 0 5px;
}

.LOGO {
    border-right: 1px solid #B1A6D0;
    border-bottom: 1px solid #775da3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.CHWA {
    width: 263px;
    height: 52px;
    margin-right: 10px;
}



header ul li {
    border-right: 1px solid #B1A6D0;
    border-bottom: 1px solid #775da3;
    border-left: 1px solid #775da3;
}

header ul li a {
    font-size: 20px;
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

header ul li a:link {
    color: white
}

header ul li a:visited {
    color: white
}

.navbar {
    padding: 0px 5px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.nav-item  a{
    font-weight: 900;
  }
a {
    text-decoration: none !important;
}

.navbar-nav text {
    color: white;
    font-size: 25px;
}

.navbar-nav .signout-area img {
    width: 21px;
    height: 21px;
}

.navbar-nav .signout-area .login-bar {
    /*height: 35px;*/
    width: 150px;
    padding: 4px;
    border: 1px solid #B6A9D2;
    border-radius: 4px;
    background: rgb(128, 103, 170);
    background: linear-gradient(0deg, rgba(128, 103, 170, 1) 0%, rgba(91, 60, 147, 1) 85%, rgba(91, 60, 147, 1) 100%);
    font-weight: 900;
    font-family: "Noto Sans TC";
    letter-spacing: 2px;
    font-size: 18px;
}

.navbar-nav .signout {
    width: 94px;
    height: 30px;

    border: 1px solid #B9B9B9;
    border-radius: 16px;
    background: rgb(179, 179, 179);
    background: linear-gradient(325deg, rgba(179, 179, 179, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, .1);

}

.navbar-nav .signout p {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgb(251, 251, 251);
    background: linear-gradient(0deg, rgba(251, 251, 251, 1) 0%, rgba(198, 200, 200, 1) 100%);
    font-size: 12px;
    font-family: "Noto Sans TC";
    font-weight: 900;
}


.pandect {
    height: auto;
}

.path .path-group {
    margin-left: 15px;
    margin-bottom: 10px;
}

.path .path-group span p:nth-child(1) {
    font-size: 22px;
    height: 20px;
    font-weight: 900;
    font-family: "Noto Sans TC";
    color: #585757;
    white-space: nowrap;
}

.path .path-group span p:nth-child(2) {
    font-size: 22px;
    height: 20px;
    font-weight: 900;
    font-family: "Noto Sans TC";
    color: #77828B;
    white-space: nowrap;
    margin: 0px 15px;
}

.path .path-group p {
    font-size: 22px;
    height: 20px;
    font-weight: 900;
    font-family: "Noto Sans TC";
    color: #1F4163;
    white-space: nowrap;
}

.pandect .grade {
    border: 2px solid#DBDBDB;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    position: relative;
    margin-left: 15px;

}

.subject-tests {
    position: relative;
    top: -12px;
    background-color: white;
    width: 120px;
    margin: 0 0 0 25px;
}

.grade ul li {
    list-style-type: none;
    /* background-color: white; */
    width: 100%;
}

.list {
    /* background-color: blue; */
    height: 235px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* display: grid;
    grid-template-columns: 1.3fr 1.6fr 0.8fr 0.8fr 1.2fr; */

}

.list .box {
    padding: 0 5px;
}

.item-list {
    padding: 0px 10px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}



/*模擬考*/

.practice-exam {
    height: 190px;
    /* min-width: 275px; */
    background-color: #FFFFFF;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    border: 2px solid#DBDBDB;
}

.practice-exam .title {
    width: 100%;
    height: 45px;
    /* width: 180px; */
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans TC";
    font-weight: 900;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.practice-exam .item-list .form-check-label:first-child {
    margin-top: 10px;
}

.practice-exam .item-list .form-check-label {
    margin-top: 5px;
}
/*報表編號*/
.report-number {
    height: 190px;
    background-color: #FFFFFF;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    border: 2px solid#DBDBDB;

}

.report-number .title {
    width: 100%;
    height: 45px;
    /* width: 180px; */
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans TC";
    font-weight: 900;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-check-input {
    position: static;
    margin: 5px 3px !important;
}
.report-number .item-list .form-check-label:first-child {
    margin-top: 10px;
}
.report-number .item-list .form-check-label {
    margin-top: 5px;
}


/* 班級 */
.class {
    height: 190px;
    /* width: 115px; */
    background-color: #FFFFFF;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    border: 2px solid#DBDBDB;
}

.class .title {
    width: 100%;
    height: 45px;
    /* width: 180px; */
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans TC";
    font-weight: 900;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.class .checkAllWrap .formGroup {
    white-space: nowrap;
}
.class .item-list .formGroup:first-child {
    margin-top: 10px;
}
.class .item-list .formGroup {
    margin-top: 5px;
}
/*類組*/
.kind-group {
    height: 190px;
    /* width: 155px; */
    background-color: #FFFFFF;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    border: 2px solid#DBDBDB;
}

.kind-group .title {
    width: 100%;
    height: 45px;
    /* width: 180px; */
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans TC";
    font-weight: 900;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.kind-group .checkAllWrap .kindformGroup {
    white-space: nowrap;
}

.kind-group .item-list .kindformGroup:first-child {
    margin-top: 10px;
}
.kind-group .item-list .kindformGroup {
    margin-top: 5px;
}

/*考試科目*/
.test-suject {
    height: 190px;
    max-width: 240px;
    background-color: #FFFFFF;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    border: 2px solid#DBDBDB;
}

.test-suject .title {
    width: 100%;
    height: 45px;
    /* width: 180px; */
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Noto Sans TC";
    font-weight: 900;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.test-suject .title p {
    /* width: 60%; */
    text-align: center;
}

.test-suject .title i {
    /* width: 40%; */
    color: red;
    text-align: center;
    font-weight: 800;
}

.test-sujectarea {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center; */
}

.test-sujectarea a {
    width: auto;
    height: auto;
}

.test-sujectarea .btn-theme {
    border-color: #223a56;
    background-color: #223a56;
    color: #fff;
    width: auto;
}

.test-sujectarea .btn-theme:focus {
    color: #223a56;
    background-color: #fff;
}
.english{
    color: #223a56 !important;
    background-color: #fff !important;
}

.test-sujectarea .btn-theme:nth-child(5),
.test-sujectarea .btn-theme:nth-child(6) {
    width: 74px;
}
#gohome {
    position: fixed;
    z-index: 2;
    right: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    background: url(img/icon-home.svg) no-repeat 50% 50%;
    background-size: cover;
}

/*table*/

.table_outer {
    width: 100%;
    padding: 0px 34px;
}

.table_scroll {
    width: 1980px;
    overflow: hidden;
    overflow-x: auto;

}

/* table {
    border: 2px solid black!important;
    border-collapse: collapse;
} */
th,
td {
    border: 2px ridge black !important;
    height: auto;
    width: auto;
    box-shadow: -5px 0 0 inset #223a56;
    background-color: #F1F1F1;
    text-align: center !important;
    vertical-align: middle !important;
}



.fht-cell {
    width: 100px !important;
    overflow: hidden;
}


.comments .fht-cell {
    width: 400px !important;
}

td {
    width: auto !important;
}

/*顏色&字體大小設定*/
thead {
    color: white;
    font-weight: 900;
}

thead tr:nth-child(1) {
    background-color: #223A56;
}

thead tr:nth-child(2) {
    background-color: #8DB1C4;
}

thead tr {
    font-size: 24px;
    font-weight: 900;
}

.sticky-th {
    background-color: #223A56 !important;
    font-size: 28px;
    font-weight: 900;
}

td {
    font-size: 21px;
}





/*格行換色*/
/* table tr th {
    height: 25px;
    line-height: 28px;
    background: #f0f7ff;
} */

/* table tbody tr:nth-child(odd) {
    background-color: #d2e8ff;
} */

table tbody tr:hover,
table tbody th:hover {
    background-color: #8DB1C4 !important;
}

.table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: #8DB1C4;
    color: var(--bs-table-hover-color);
}


thead tr:nth-child(1) th:nth-child(1),
tr td:nth-child(1) {

    position: sticky;
    left: 0px;
    /* 首行永遠固定於左 */
    z-index: 1;
    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(2),
tr td:nth-child(2) {

    position: sticky;

    left: 102px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(3),
tr td:nth-child(3) {

    position: sticky;

    left: 258px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(4),
tr td:nth-child(4) {

    position: sticky;

    left: 414px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(5),
tr td:nth-child(5) {

    position: sticky;

    left: 570px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(6),
tr td:nth-child(6) {

    position: sticky;

    left: 726px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(7),
tr td:nth-child(7) {

    position: sticky;

    left: 826px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}

thead tr:nth-child(1) th:nth-child(8),
tr td:nth-child(8) {

    position: sticky;

    left: 928px;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #F1F1F1;

}


.bootstrap-table .fixed-table-container .table thead th {
    text-align: center;

    vertical-align: middle !important;
}

@media screen and (max-width:1442px) {

    .title {
        font-size: 13px !important;
    }

    span {
        font-size: 13px;
    }

    .test-sujectarea .btn-theme {
        font-size: 13px;
    }


    .path .path-group p {
        font-size: 18px !important;

    }

    .pandect .grade p {
        font-size: 13px;
    }

    .pandect .grade ul li {
        font-size: 13px;
    }
}

@media screen and (max-width:1205px) {

    thead tr:nth-child(1) th:nth-child(1),
    tr td:nth-child(1) {
        position: static;

    }

    thead tr:nth-child(1) th:nth-child(2),
    tr td:nth-child(2) {
        position: static;

    }

    thead tr:nth-child(1) th:nth-child(3),
    tr td:nth-child(3) {
        position: static;
    }

    thead tr:nth-child(1) th:nth-child(4),
    tr td:nth-child(4) {
        position: static;


    }

    thead tr:nth-child(1) th:nth-child(5),
    tr td:nth-child(5) {
        position: static;

    }

    thead tr:nth-child(1) th:nth-child(6),
    tr td:nth-child(6) {
        position: static;


    }

    thead tr:nth-child(1) th:nth-child(7),
    tr td:nth-child(7) {
        position: static;
    }

    thead tr:nth-child(1) th:nth-child(8),
    tr td:nth-child(8) {
        position: static;
    }

}

@media screen and (max-width:1200px) {

    .navbar-nav {
        position: relative;
        left: -10px;
        width: 220px !important;
        height: 330px !important;
        background-color: #775da3;
        display: flex;
        justify-content: flex-start !important;
    }

    .nav-item {
        width: 100%;
        margin: 5px 0;
    }
}

@media screen and (max-width:1080px) {
    .sticky-th {
        font-size: 21px !important;
    }

    thead tr {
        font-size: 16px !important;
    }

}

@media screen and (max-width:991px) {
    .title {
        font-size: 16px !important;
    }

    span {
        font-size: 16px;
    }

    .test-sujectarea .btn-theme {
        font-size: 16px;
    }


    .path .path-group p {
        font-size: 22px !important;

    }

    .pandect .grade p {
        font-size: 16px;
    }

    .pandect .grade ul li {
        font-size: 16px;
    }

    .list {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .box {
        margin: 5px 0px;
    }
}






@media screen and (max-width:618px) {
    .CHWA {
        width: 200px;
        height: 52px;
        margin-right: 10px;
    }

    .title {
        font-size: 13px !important;
    }

    .pandect {
        height: auto;
        margin-left: 15px;
    }

    span {
        font-size: 13px;
    }

    .test-sujectarea .btn-theme {
        font-size: 13px;
    }

    .path .path-group {
        display: flex;
        flex-direction: column !important;
    }

    .path .path-group p {
        font-size: 18px !important;

    }

    .pandect .grade {
        width: 227px;
        margin-left: 0px;
    }

    .pandect .grade p {
        font-size: 13px;
    }

    .pandect .grade ul li {
        font-size: 13px;
    }
}